@use 'reset';
@use "fonts";

* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    color: #4D4D4D;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
}

.main {
    background: linear-gradient(147.71deg, #F0F5E0 20.89%, #E0F5E3 80.64%);
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: calc(100vh - 116px);
        gap: 62px;
        >img{
            width: 100%;
        }
        .main-content {
            margin-right: 163px;
            >p {
                margin-bottom: 20px;
            }
            .main-header {
                @include fonts.h6();
                margin-top: 20px;
            }
            .main-text {
                @include fonts.t6();
            }
            .buttons-wrapper {
                button {
                    width: 184px;
                    height: 48px;
                    background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
                    border-radius: 8px;
                    border: none;
                    @include fonts.b1();
                    cursor: pointer;
                    color: #ffffff;
                    transition: .3s all;
                    .btn-content {
                        justify-content: center;
                        gap: 10px;
                    }
                    &:hover {
                        transform: translateY(10%);
                    }
                    >a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
                .viber-btn {
                    background: #7360F2;
                    margin-left: 20px;
                }
            }
        }
    }
}

.footer {
    .footer-wrapper {
        .contacts-block {
            padding: 41px 0px;
            .contacts-wrapper {
                justify-content: space-between;
                align-items: center;
                .contacts-viber {
                    width: 32px;
                    height: 32px;
                    background-image: url(images/icon-viber.svg);
                    background-size: contain;
                    margin-right: 10px;
                }
                .contacts-telegram {
                    width: 32px;
                    height: 32px;
                    background-image: url(images/licon-telegram.svg);
                    background-size: contain;
                    margin-right: 20px;
                }
                .contacts-text {
                    @include fonts.t2();
                    text-align: center;
                }
                .contacts-email {
                    width: 32px;
                    height: 32px;
                    background-image: url(images/icon-email.svg);
                    background-size: contain;
                    margin-right: 20px;
                }
                    .social-media-links {
                        >a {
                            margin-left: 21px;
                        }
                        button{
                        width: 32px;
                        height: 32px;
                        background: transparent;
                        border: none;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        cursor: pointer;
                        transition: .3s all;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    .instagram {
                        background-image: url(images/icon-instagram.svg);
                    }
                    .youtube {
                        background-image: url(images/icon-youtube.svg);
                    }
                    .linkedin {
                        background-image: url(images/icon-linkedin.svg);
                    }
                    .facebook {
                        background-image: url(images/icon-facebook.svg);
                    }
                }
            }
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .main {
        .wrapper {
            .main-content {
                margin-right: 50px;
            }
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .main {
        .wrapper {
            min-height: 100%;
            grid-template-columns: 1fr;
            justify-items: center;
            padding: 24px 0px;
            >img{
                padding: 0px 80px;
            }
            .main-content {
                margin-right: 0px;
                .buttons-wrapper{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .viber-btn {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    .footer {
        .footer-wrapper {
            .contacts-block {
                .contacts-wrapper {
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    .contacts-viber {
                        margin-right: 8px;
                    }
                    .contacts-telegram {
                        margin-right: 8px;
                    }
                    .contacts-email {
                        margin-right: 8px;
                    }
                    .social-media-links {
                        >a {
                            margin-left: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 590px) {
    .main {
        .wrapper {
            >img{
                width: 100%;
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .main {
        .wrapper {
            gap: 16px;
            >img{
                padding: 0px 50px;
            }
            .main-content {
                text-align: center;
                >p{
                    text-align: left;
                }
                >img{
                    width: 80px;
                }
                .main-header {
                    @include fonts.mobileH6();
                    margin-top: 15px;
                }
                .main-text {
                    @include fonts.mobileT6();
                }
                .buttons-wrapper{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer {
        .footer-wrapper {
            .contacts-block {
                .contacts-wrapper {
                    .row{
                        align-items: center;
                    }
                    gap: 24px;
                    .contacts-viber {
                        height: 24px;
                        width: 24px;
                    }
                    .contacts-telegram {
                        height: 24px;
                        width: 24px;
                    }
                    .contacts-email {
                        height: 24px;
                        width: 24px;
                    }
                    .contacts-text {
                        @include fonts.mobileT7();
                    }
                    .social-media-links {
                        button {
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }
    }
}