html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #4D4D4D;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
}

.main {
  background: linear-gradient(147.71deg, #F0F5E0 20.89%, #E0F5E3 80.64%);
}
.main .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: calc(100vh - 116px);
  gap: 62px;
}
.main .wrapper > img {
  width: 100%;
}
.main .wrapper .main-content {
  margin-right: 163px;
}
.main .wrapper .main-content > p {
  margin-bottom: 20px;
}
.main .wrapper .main-content .main-header {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 145%;
  margin-top: 20px;
}
.main .wrapper .main-content .main-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
}
.main .wrapper .main-content .buttons-wrapper button {
  width: 184px;
  height: 48px;
  background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
  border-radius: 8px;
  border: none;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s all;
}
.main .wrapper .main-content .buttons-wrapper button .btn-content {
  justify-content: center;
  gap: 10px;
}
.main .wrapper .main-content .buttons-wrapper button:hover {
  transform: translateY(10%);
}
.main .wrapper .main-content .buttons-wrapper button > a {
  text-decoration: none;
  color: #ffffff;
}
.main .wrapper .main-content .buttons-wrapper .viber-btn {
  background: #7360F2;
  margin-left: 20px;
}

.footer .footer-wrapper .contacts-block {
  padding: 41px 0px;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper {
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-viber {
  width: 32px;
  height: 32px;
  background-image: url(images/icon-viber.svg);
  background-size: contain;
  margin-right: 10px;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-telegram {
  width: 32px;
  height: 32px;
  background-image: url(images/licon-telegram.svg);
  background-size: contain;
  margin-right: 20px;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-email {
  width: 32px;
  height: 32px;
  background-image: url(images/icon-email.svg);
  background-size: contain;
  margin-right: 20px;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links > a {
  margin-left: 21px;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: 0.3s all;
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links button:hover {
  transform: scale(1.2);
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links .instagram {
  background-image: url(images/icon-instagram.svg);
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links .youtube {
  background-image: url(images/icon-youtube.svg);
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links .linkedin {
  background-image: url(images/icon-linkedin.svg);
}
.footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links .facebook {
  background-image: url(images/icon-facebook.svg);
}

@media (max-width: 1200px) {
  .main .wrapper .main-content {
    margin-right: 50px;
  }
}
@media (max-width: 992px) {
  .main .wrapper {
    min-height: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 24px 0px;
  }
  .main .wrapper > img {
    padding: 0px 80px;
  }
  .main .wrapper .main-content {
    margin-right: 0px;
  }
  .main .wrapper .main-content .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .main .wrapper .main-content .buttons-wrapper .viber-btn {
    margin-left: 0px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-viber {
    margin-right: 8px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-telegram {
    margin-right: 8px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-email {
    margin-right: 8px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links > a {
    margin-left: 17px;
  }
}
@media (max-width: 590px) {
  .main .wrapper > img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .main .wrapper {
    gap: 16px;
  }
  .main .wrapper > img {
    padding: 0px 50px;
  }
  .main .wrapper .main-content {
    text-align: center;
  }
  .main .wrapper .main-content > p {
    text-align: left;
  }
  .main .wrapper .main-content > img {
    width: 80px;
  }
  .main .wrapper .main-content .main-header {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
    margin-top: 15px;
  }
  .main .wrapper .main-content .main-text {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
  }
  .main .wrapper .main-content .buttons-wrapper button {
    width: 100%;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper {
    gap: 24px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .row {
    align-items: center;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-viber {
    height: 24px;
    width: 24px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-telegram {
    height: 24px;
    width: 24px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-email {
    height: 24px;
    width: 24px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .contacts-text {
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .footer .footer-wrapper .contacts-block .contacts-wrapper .social-media-links button {
    height: 24px;
    width: 24px;
  }
}